<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/P/pizza.jpg" alt="Pizza">
  </div>
  <div class="headings">
    <h2>PIZZA Recipes</h2>
    <h3>By Chef H******</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>