<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/P/pizza1.jpg" alt="Pizza Icon">
    <h4>Neapolitan Pizza</h4>
    <p>Is a classic type of pizza that has mozzarella, tomato, 
      oregano and garlic as topping.Is one of the favourite pizza and is totally vegetarian.</p>
  </li>
  <li class="recipe">
    <img src="/P/pizza2.jpg" alt="Pizza Icon">
    <h4>Mozzarella Pizza</h4>
    <p>It is a simply type of pizza that has as it’s main ingredien, 
      mozzarela. It can have also garlic and olives as topping.</p>
  </li>
  <li class="recipe">
    <img src="/P/pizza3.jpg" alt="Pizza Icon">
    <h4>Hawaiian Pizza</h4>
    <p>It has as a base, tomato and cheese, and on top, ham and pineaple.
      It is a very special pizza because the presense of pineaple makes a bittersweet flavour.</p>
  </li>
  <li class="recipe">
    <img src="/P/pizza4.jpg" alt="Pizza Icon">
    <h4>Meat Lovers Pizza</h4>
    <p>It is a convination of meat, cheese, vegetables and different dressing.</p>
  </li>
  <li class="recipe">
    <img src="/P/pizza5.jpg" alt="Pizza Icon">
    <h4>Pepperoni Pizza</h4>
    <p>The pepperoni is the most important ingredient and has cheese as base.
      Normally has garlic as a dressing.</p>
  </li>
  <li class="recipe">
    <img src="/P/pizza6.jpg" alt="Pizza Icon">
    <h4>Sicilian Pizza</h4>
    <p>Sicilian pizza, also known as "sfincione," provides a thick cut of pizza with pillowy dough,
       a crunchy crust, and robust tomato sauce.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>